<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js">
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div style="display:none" class="arlo_tm_leftpart_wrap">
        <div class="leftpart_inner">
            <div class="logo_wrap">
                <a href="#"><img src="img/logo/desktop-logo.png" alt=""></a>
            </div>
            <div class="menu_list_wrap">
                <ul class="anchor_nav">
                    <li class="current"><a href="#home">Home</a></li>
                    <li class=""><a href="#about">About</a></li>
                    <li class=""><a href="#services">Services</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#news">News</a></li>
                    <li><a href="#contact">Contact</a></li>

                    <li class="current"><a href="#home">Home</a></li>
                    <li class=""><a href="#about">About</a></li>
                    <li class=""><a href="#services">Services</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#news">News</a></li>
                    <li><a href="#contact">Contact</a></li>

                    <li class="current"><a href="#home">Home</a></li>
                    <li class=""><a href="#about">About</a></li>
                    <li class=""><a href="#services">Services</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#news">News</a></li>
                    <li><a href="#contact">Contact</a></li>

                    <li class="current"><a href="#home">Home</a></li>
                    <li class=""><a href="#about">About</a></li>
                    <li class=""><a href="#services">Services</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#news">News</a></li>
                    <li><a href="#contact">Contact</a></li>

                    <li class="current"><a href="#home">Home</a></li>
                    <li class=""><a href="#about">About</a></li>
                    <li class=""><a href="#services">Services</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#news">News</a></li>
                    <li><a href="#contact">Contact</a></li>

                    <li class="current"><a href="#home">Home</a></li>
                    <li class=""><a href="#about">About</a></li>
                    <li class=""><a href="#services">Services</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#news">News</a></li>
                    <li><a href="#contact">Contact</a></li>

                    <li class="current"><a href="#home">Home</a></li>
                    <li class=""><a href="#about">About</a></li>
                    <li class=""><a href="#services">Services</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#news">News</a></li>
                    <li><a href="#contact">Contact last</a></li>
                </ul>
            </div>
            <div class="leftpart_bottom">
                <div class="social_wrap">
                    <ul>
                        <li><a href="#"><i class="xcon-facebook"></i></a></li>
                        <li><a href="#"><i class="xcon-twitter"></i></a></li>
                        <li><a href="#"><i class="xcon-linkedin"></i></a></li>
                        <li><a href="#"><i class="xcon-instagram"></i></a></li>
                        <li><a href="#"><i class="xcon-behance"></i></a></li>
                    </ul>
                </div>
            </div>
            <a class="arlo_tm_resize" href="#"><i class="xcon-angle-left"></i></a>
        </div>
    </div>
    <header style="display:none" class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="./" class="navbar-brand">Bootstrap Menu</a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Mission</a></li>
                            <li><a href="#">Vision</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Products</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li class="active">
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Bike Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/Home/Index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/About">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Contact">Contact</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Product Managment
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/Categories">Categories</a>
                        <a class="dropdown-item" href="/Brands">Brands</a>
                        @*<div class="dropdown-divider">Products</div>*@
                        <a class="dropdown-item" href="/Products">Products</a>
                        <a class="dropdown-item" href="/Stocks">Stocks</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sales
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/Orders">Orders</a>
                        <a class="dropdown-item" href="/OrderItems">Products</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/Customers">Customer Managment</a>
                        <div class="dropdown-divider">Store</div>
                        <a class="dropdown-item" href="/Staff">Staff Managment</a>
                        <a class="dropdown-item" href="/Stores">Store Managment</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Reports
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/Reports/Category">Category</a>
                        <a class="dropdown-item" href="/Reports/CustomerRegion">CustomerRegion</a>
                        <a class="dropdown-item" href="/Reports/OrderByStore">OrderByStore</a>
                        <a class="dropdown-item" href="/Reports/ProductBrandPrices">ProductBrandPrices</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div style="display:none" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Bike Store Application</p>
        </footer>
    </div>
   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
